/* CSS for all HTML elements */
*{
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}
h1{
  margin: 50px auto 0;
  text-align: center;
}
h3{
  text-align: center;
  text-decoration:underline;
}
body{
  background-color: rgba(169, 160, 155, 0.444);
}
/* Container showing Current temp, himidity, wind speed */
.card{
  width: 90%;
  max-width: 500px;
  background:linear-gradient(135deg,#00a5febe, #f7330270);
  color: #ffff;
  margin: 50px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
/* Searching area */
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #28272755;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 15px;
  font-size: 18px;
}
.search button{
  border: 0;
  outline: 0;
  background: #ebfffc ;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img{
  width: 20px;
  justify-content: center;
}

/* Himiduty and Wind speed */
.weather-icon{
  width: 170px;
  margin-top: 30px;
}
.weather h1{
  font-size: 80px;
  font-weight: 400;
}
.weather h2{
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col img{
  width: 40px;
  margin-right: 10px;
}
.humidity, .wind{
  font-size: 28px;
  margin-top: -6px;
}